*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  width: 1140px;
  max-height: 534px;
  justify-content: space-between;
}

.result {
  width: 711px;
  height: 456px;
}

.result__video {
  width: 100%;
  margin: 78px 429px 16px 0;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 711px;
  height: 54px;
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-top: 5px;
}

.search-form__label {
  position: relative;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  background-color: #fff;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: auto;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  align-items: center;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  align-items: center;
  border: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  background-color: transparent;
  appearance: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield {
  color: #fff;
  opacity: 70%;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.result__video-container {
  position: relative;

  width: 711px;
  height: 480px;
}

.content__list {
  position: relative;
  margin-top: 26px;
  height: 298px;
  overflow: auto;
}

.content__list-item:not(:first-child) {
  margin-top: 30px;
}

.content__list > *:last-child {
  margin-top: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 400px;
  height: 534px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 6px;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  color: #fff;
}

.content__video-card-description-container {
  max-width: 200px;
}

.content__video-card-title {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  font-family: Oswald;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
}

.content__card-link {
  display: block;
  text-decoration: none;
  margin: 7px;
}

.content__video-card .content__video-card-title {
  border-bottom: 1px solid transparent;
}

.content__video-card:hover .content__video-card-title {
  border-color: #fff;
}

.content__video-card:hover .content__video-card-description {
  border-bottom: 1px solid #fff;
}

.content__video-card-thumbnail {
  max-width: 194px;
  width: 100%;
}

.content__card-link_current:active {
  background-color: #545050;
}

.button {
  border: 1px solid #fff;
  padding: 6px 74px;
  background-color: transparent;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.title {
  width: 260px;
  max-height: 210px;
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.more-button {
  width: 100%;
}

.button:active {
  background-color: #545050;
}

input:focus {
  outline: none;
}
